{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="center">
        <div class="card  mx-auto col-md-5 col-8 mt-3 p-0"" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <i class="fa fa-thumbs-up fa-10x" aria-hidden="true"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h1 class="card-title">Your payment was successful</h1>
                  <p class="card-text">Your payment has been successfully received.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        
{% endblock %}