{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="p-3 m-3">
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
            
                <i class="fas fa-sign-in fa-7x" aria-hidden="true"></i>
            <hr>
            </div>
            <h3 class="alert alert-light rounded-pill" style="text-align:center" >Login</h3>
            <form action="/login" method="POST">               
                {% csrf_token %}
                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" placeholder="abc@gmail.com">
                </div>


                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id="pw"
                     class="form-control form-control-sm" >
                    
                </div>

                <!--Checkme button-->
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="box" onclick="reveal()">
                    <label class="form-check-label" for="box">Show Password</label>
                </div>
                <hr>
                <center><button type="submit" class="add-to-cart" style="border-radius: 50%;">Login</button>    </center> 
            </form>
            <div class="my-1">
                <hr>
                <p class="text-center">Don't have an account? <a href="signup">Register here</a></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function reveal()
    {
    if(document.getElementById('box').checked)
       {document.getElementById("pw").type='text';}
    else
    document.getElementById("pw").type='password';
    }
    </script>   
{% endblock %}